### 2. 수집한 콜금리를 한달 전 콜금리와 비교해 up, down, same 라벨링한다.

In [2]:
import pandas as pd
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [3]:
callrate = pd.read_csv('../datasets/1_call_rate.csv')
callrate

            date  callrate
0     2020.08.03      0.51
1     2020.07.31      0.51
2     2020.09.02      0.49
3     2020.08.12      0.49
4     2020.08.24      0.53
...          ...       ...
3908  2004.11.30      3.26
3909  2004.12.09      3.27
3910  2004.12.17      3.28
3911  2004.11.29      3.25
3912  2004.12.08      3.27

[3913 rows x 2 columns]

In [4]:
# 1. 날짜를 기준으로 정렬하기
callrate = callrate.sort_values(by=['date'])

# 2. 비어있는 날짜(주말)와 금리를 추가하기
def all_date_range_df(date_range):

    df2 = pd.DataFrame({'date':date_range})
    
    return df2

date_range = (pd.date_range(start='20041201', end='20200903')).strftime("%Y.%m.%d").tolist()
df2 = all_date_range_df(date_range)

# 3. 두 df를 병합하고 결측값 채우기
def df_outer_join_merge(df1, df2):
    
    df_OUTER_JOIN = pd.merge(df1, df2, left_on='date', right_on='date', how='outer', sort=True)
    
    # 공휴일에 없는 환율정보는 전날을 기준으로 결측값 채우기
    df_finally = df_OUTER_JOIN.fillna(method='ffill')
    
    return df_finally

fin_df = df_outer_join_merge(callrate, df2)
fin_df = fin_df.set_index('date')
fin_df

            callrate
date
2004.11.29      3.25
2004.11.30      3.26
2004.12.01      3.26
2004.12.02      3.26
2004.12.03      3.26
...              ...
2020.08.30      0.49
2020.08.31      0.55
2020.09.01      0.52
2020.09.02      0.49
2020.09.03      0.49

[5758 rows x 1 columns]

In [5]:
# 4. 한달 전 날짜 추가하기
month_date = []
for target_date in fin_df.index:
    
    month_before = (datetime.strptime(target_date,'%Y.%m.%d' ) - relativedelta(months = 1)).strftime('%Y.%m.%d')
    month_date.append(month_before)
    
fin_df['month_date'] = month_date

# 5. 한달 전 날짜에 맞춰 콜 금리 추가하기
month_rate=[]
for target_date in fin_df['month_date']:
    try:
        rate = fin_df._get_value(target_date, 'callrate') 
        month_rate.append(rate)
    except: # keyError 제외
        month_rate.append(0.0)
fin_df['month_rate'] = month_rate
fin_df

            callrate  month_date  month_rate
date
2004.11.29      3.25  2004.10.29        0.00
2004.11.30      3.26  2004.10.30        0.00
2004.12.01      3.26  2004.11.01        0.00
2004.12.02      3.26  2004.11.02        0.00
2004.12.03      3.26  2004.11.03        0.00
...              ...         ...         ...
2020.08.30      0.49  2020.07.30        0.49
2020.08.31      0.55  2020.07.31        0.51
2020.09.01      0.52  2020.08.01        0.51
2020.09.02      0.49  2020.08.02        0.51
2020.09.03      0.49  2020.08.03        0.51

[5758 rows x 3 columns]

In [6]:
# 6. 콜 금리의 차이를 구하고 0 초과 : 'up', 0 같음 : 'same', 0 미만 : 'down'으로 라벨링
value_diff = fin_df['callrate'] - fin_df['month_rate']

fin_df['label']='0'
for i, diff in enumerate(value_diff):
    if diff > 0:
        fin_df['label'][i] = 'up'
    elif diff == 0:
        fin_df['label'][i] = 'same'
    elif diff < 0:
        fin_df['label'][i] = 'down'   

# 7. 2005년 ~ 2017년만 남기기
fin_df = fin_df.loc['2005.01.01':'2017.12.31', :]
fin_df.reset_index(inplace=True)

fin_df.to_csv('../datasets/2_callrate_preprocessing.csv',index=False)
fin_df

c:\users\lg\.conda\envs\bok\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
c:\users\lg\.conda\envs\bok\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
c:\users\lg\.conda\envs\bok\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

            date  callrate  month_date  month_rate label
0     2005.01.01      3.29  2004.12.01        3.26    up
1     2005.01.02      3.29  2004.12.02        3.26    up
2     2005.01.03      3.27  2004.12.03        3.26    up
3     2005.01.04      3.27  2004.12.04        3.26    up
4     2005.01.05      3.28  2004.12.05        3.26    up
...          ...       ...         ...         ...   ...
4743  2017.12.27      1.51  2017.11.27        1.26    up
4744  2017.12.28      1.55  2017.11.28        1.26    up
4745  2017.12.29      1.58  2017.11.29        1.26    up
4746  2017.12.30      1.58  2017.11.30        1.53    up
4747  2017.12.31      1.58  2017.11.30        1.53    up

[4748 rows x 5 columns]